{% extends 'base.html.twig' %}

{% block title %}bienvenue{% endblock %}

{% block body %}
    <h1>Bienvenue dans l'Espace Employé</h1>
   <img src="{{asset('img/Bienvenue.png')}}"/>
   
{% endblock %}
